<?xml version="1.0"?>
<config>
    <modules>
        <CosmoCommerce_Sns>
            <version>0.1.0</version>
        </CosmoCommerce_Sns>
    </modules>
    <frontend>
        <routers>
            <sns>
                <use>standard</use>
                <args>
                    <module>CosmoCommerce_Sns</module>
                    <frontName>sns</frontName>
                </args>
            </sns>
        </routers>
        <layout>
            <updates>
                <sns>
                    <file>sns.xml</file>
                </sns>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sns>
				<use>admin</use>
				<args>
					<module>CosmoCommerce_Sns</module>
					<frontName>sns</frontName>
				</args>
			</sns>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all> 
				<admin>
					<children>
						<CosmoCommerce_Sns>
							<title>Sns Module</title>
							<sort_order>10</sort_order>
						</CosmoCommerce_Sns>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sns>
					<file>sns.xml</file>
				</sns>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sns>
                <class>CosmoCommerce_Sns_Model</class>
                <resourceModel>sns_mysql4</resourceModel>
            </sns>
            <sns_mysql4>
                <class>CosmoCommerce_Sns_Model_Mysql4</class>
                <entities>
                    <sns>
                        <table>sns</table>
                    </sns>
                </entities>
            </sns_mysql4>
        </models>
        <resources>
            <sns_setup>
                <setup>
                    <module>CosmoCommerce_Sns</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sns_setup>
            <sns_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sns_write>
            <sns_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sns_read>
        </resources>
        <blocks>
            <sns>
                <class>CosmoCommerce_Sns_Block</class>
            </sns>
        </blocks>
        <helpers>
            <sns>
                <class>CosmoCommerce_Sns_Helper</class>
            </sns>
        </helpers>
    </global>
</config>